.application-body {
  margin-top: 90px;
}

.edit-entry, .add-entry {
  cursor: pointer;
  margin-right: 5px;
  float: right;
  font-size: .5em;
}

.form-buttons {
  float: right;
}


.button-delete {
    background-color: #a31b41;
    border-color: #a31b41;
}


@media print
{    

    .no-print, .no-print, .button-delete, .edit-entry, .add-entry *
    {
        display: none !important;
    }


}