<application>
  <navigation data-riot-component></navigation>
  
  <div class="container">
    Hoi { state.user }, weiter gehts</div>
  </div>

  <script>
    import Navigation from '../navigation/navigation.riot'
    
    export default {
      components: {
        Navigation
      },
      state: {
        user: 'Claudio'
      }
    }

  </script>
</application>