/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}


.header .logo {
  display: block;
  float: left;
  font-size: 1.6em;
  padding: 10px 20px;
  text-decoration: none;
}


/* 48em = 768px * /

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .navigation li a {
    padding: 20px 30px;
  }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navigation .menu-icon {
    display: none;
  }
} / **/


.application-body {
  margin-top: 90px;
}
