<search>

  <div class="search"><input onkeyup={typeahead} type="text" placeholder="🔍 search" id="search" name="search"></div>

  <div class="results">
    <locations-list if={ state.locations.length } locations={ state.locations }></locations-list>
    <boxes-list if={ state.boxes.length }  boxes={ state.boxes }></boxes-list>
    <items-list if={ state.items.length }  items={ state.items }></items-list>
  </div>

  <script>
    import  './style.css'

    import LocationsList from '../../includes/list/locations.riot'
    import BoxesList from '../../includes/list/boxes.riot'
    import ItemsList from '../../includes/list/items.riot'

    export default {
      components: {
        LocationsList,
        BoxesList,
        ItemsList,
      },

      state: {
        locations: [],
        boxes: [],
        items: [],
      },

      typeahead(e, allowEmpty = false) {
        let searchString = e.target.value
        this.search(searchString)
      },

      search(searchString, allowEmpty = false) {
        let target = this
        if (searchString.length >= 3 || allowEmpty) {
          window.dataStore.locations.search(searchString, function(locations) {
            target.update({
              locations: locations
            })
          })

          window.dataStore.boxes.search(searchString, function(boxes) {
            target.update({
              boxes: boxes
            })
          })

          window.dataStore.items.search(searchString, function(items) {
            target.update({
              items: items
            })
          })
        }
      },

      onMounted() {
        this.search('', true)
      }

    }
  </script>
</search>