body {
  min-height: 100vh;
}

layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  min-width: 300px;
}

label, legend {
    font-weight: normal;
    padding-right: 10px;
    padding-top: 5px;
}

