<?xml version='1.0' encoding='utf-8'?>
<widget id="io.storganizer.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Storganizer</name>
    <description>Storganizer UI Application</description>
    <author email="info@gitcd.io" href="https://gitcd.io">
        Storganizer Dev
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="electron">
        <icon src="www/storganizer-logo.png" />
        
        <preference name="Fullscreen" value="true" />
        <preference name="ShowTitle" value="false" />
        <preference name="ElectronSettingsFilePath" value="./electron.json" />
    </platform>

</widget>


